<div class="page-header">
  <h3>Owner #<%= @owner.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurants</dt>
      <dd><%= @owner.restaurants_id %></dd>

      <dt>Accounts</dt>
      <dd><%= @owner.accounts_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/owners" class="btn btn-primary">
        Back
      </a>
      <a href="/owners/<%= @owner.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_owner/<%= @owner.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Owner has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @owner.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.reviews_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_response" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for reviews_id -->
      <div class="form-group">
        <label for="reviews_id" class="control-label">
          Reviews
        </label>

        <%= select_tag(:reviews_id, options_from_collection_for_select(Review.all, :id, :restaurants_id), :class => "form-control") %>
      </div>

      <!-- Label and input for owners_id -->
      <div class="form-group">
        <label for="owners_id" class="control-label">
          Owners
        </label>

        <%= select_tag(:owners_id, options_from_collection_for_select(Owner.all, :id, :restaurants_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Response
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Owner has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @owner.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.restaurants_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
