<div class="page-header">
  <h3>Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Reviews</dt>
      <dd>
        <% if @response.reviews.present? %>
          <a href="/reviews/<%= @response.reviews_id %>">
            <%= @response.reviews.restaurants_id %>
          </a>
        <% end %>
      </dd>

      <dt>Owners</dt>
      <dd>
        <% if @response.owners.present? %>
          <a href="/owners/<%= @response.owners_id %>">
            <%= @response.owners.restaurants_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/responses" class="btn btn-primary">
        Back
      </a>
      <a href="/responses/<%= @response.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_response/<%= @response.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
