<!-- Validation failure messages -->
<% if @filter.errors.any? %>
  <% @filter.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Filter #<%= @filter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_filter/<%= @filter.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurants_id -->
      <div class="form-group">
        <label for="restaurants_id" class="control-label">
          Restaurants
        </label>

        <input type="text" id="restaurants_id" name="restaurants_id" placeholder="Restaurants" class="form-control" value="<%= @filter.restaurants_id %>">
      </div>

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <input type="text" id="tag_id" name="tag_id" placeholder="Tag" class="form-control" value="<%= @filter.tag_id %>">
      </div>

      <button class="btn btn-warning">
        Update Filter
      </button>
      or
      <a href="/filters/<%= @filter.id %>">Cancel</a>
    </form>
  </div>
</div>
