<div class="page-header">
  <h1>
    Reviews
    <a href="/reviews/new" class="btn btn-lg btn-success">New Review</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Restaurants</th>
        <th>Account</th>
        <th>Stars</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>

      <% @reviews.each do |review| %>
      <tr>
        <td>
          <% if review.restaurants.present? %>
            <a href="/restaurants/<%= review.restaurants.id %>">
              <%= review.restaurants.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if review.account.present? %>
            <a href="/accounts/<%= review.account.id %>">
              <%= review.account.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= review.stars %></td>
        <td><%= review.content %></td>
        <td>
          <a href="/reviews/<%= review.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == review.account %>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
