<div class="page-header">
  <h3>Account #<%= @account.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @account.email %></dd>

      <dt>Password</dt>
      <dd><%= @account.password %></dd>

      <dt>First name</dt>
      <dd><%= @account.first_name %></dd>

      <dt>Last initial</dt>
      <dd><%= @account.last_initial %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/accounts" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Account has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @account.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.restaurants_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == review.account %>
              <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Account has many owners -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Owners
      </li>

      <% @account.owners.each do |owner| %>
        <li class="list-group-item">
          <a href="/owners/<%= owner.id %>">
            <%= owner.restaurants_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/owners/<%= owner.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == owner.accounts %>
              <a href="/owners/<%= owner.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_owner/<%= owner.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
